# Backend
PORT=4001

CLIENT_URL=http://localhost:3002

#PostgreSQL
DB_USER=postgres
DB_PASSWORD=veritabani_sifreniz_buraya
DB_HOST=localhost
DB_PORT=5433
DB_NAME=portfolio

# Admin
ADMIN_SALT=rastgele_salt_degeri
ADMIN_HASH=olusturulan_hash_degeri

# JWT Token
JWT_SECRET=super_gizli_ve_karmasik_uzun_jwt_kilit_parolasi_1234
